html{
    font-family: Helvetica;
    background-color: #ddd;
}

.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold{
    font-weight: bold;
}

/* Header */
.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

/* Biografia */
.biography-container{
    padding: 25px 0px;
    margin: 20px 0px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000000;
}

/* Quotes */
.quotes-container{
    background-color: #ddd;
    padding: 30px 0px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 20px;
}

.quotes-container p{
    font-style: italic;
    padding-left: 40px;
}

/* Curiosidades */
.curiosities-container{
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000000;
}

/* Featured Image */
.featured-image, .img-bold{
    text-align: center;
    margin-top: 30px;

}

.featured-image img, .img-bold img{
    width: 600px;
    height: auto;
}

/* Imagem Bold */
.img-bold{
    font-weight: bold;
}